



* {
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
    color: #333;
    
} 

.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }


/* Main page title */

.page-title {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    color: #eeba30;
    -webkit-text-stroke: 1px black;
    padding: 15px;
}


#home-page {
    display: block;
    height: 90%;
}



/* Level selection section */

#select-level-text {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #fafafa;
    background-color: rgba(128, 0, 128, 0.8);
    padding: 5px;
    border-radius: 25px;
    width: 50%;
    margin: auto;
}


/* .level-options {
    height: 100px;
}


.select-level-text-container {
    height: 400px;
} */


.level-option-buttons {
    padding: 20px;
    margin-bottom: 8px;
    font-size: 5vw;
}

/* Hero background image */

#hero-image {
    background: purple url("hero_image.jpg") no-repeat center;
    height: 500px;
    overflow: hidden;
    width: 80%;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


/* Question page styling */

#quiz-page {
    display: none;
    background-color: rgb(96, 5, 96);
    width: 90%;
    margin: auto;
    padding: 40px;
    height: 90%;
    border-radius: 25px;
  }

#level-title {
    color: white;
    font-family: "MedievalSharp", cursive;
    font-size: 4vw;
    font-weight: bold;
    padding: 20px;
}

#question-text{
    padding: 20px;
    color: yellow;
}

.answer-container {
    padding: 20px;
    background-color: none;
    
}

.button-container {
    margin: auto;
    padding: 10px;
}



.answer-container button {
    padding: 20px;
    margin: auto; 
    width: 80%;
}


#score {
    color: white;
    padding: 20px;
}


/* End game page to display finish message and total score */
#end-game-page {
    display: none;
    background-color: #eeba30;
    color: purple;
    width: 80%;
    margin: auto;
    padding: 40px;
    height: 500px;
    border-radius: 25px;

}

#total-score {
    padding: 30px;
}

#finish-message {
    padding: 30px;
    width: 75%;
    margin: auto;
}

#play-again-btn {
    padding: 20px;
    margin: 30px;
}

