



* {
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
    color: #333;
    
} 

.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }


/* Main page title */

.page-title {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #eeba30;
    -webkit-text-stroke: 1px black;
    padding: 15px;
}






/* Level buttons */

.level-options {
    height: 500px;
}

.level-option-buttons {
    padding: 20px;
}

/* Hero background image */

#hero-image {
    background-image: url("/assets/images/hero-image.jpg");
    height: 500px;
    overflow: hidden;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


/* Question page styling */

#quiz-page {
    display: none;
}

.game-page {
    background-color: rgb(96, 5, 96);
    width: 80%;
    margin: auto;
    padding: 40px;
    height: 500px;
    border-radius: 25px;
  }

#level-title {
    color: white;
    font-family: "MedievalSharp", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px;
}

#question-text{
    padding: 20px;
    color: yellow;
}

.answer-container {
    padding: 20px;
}

.answer-container button {
    padding: 20px;
    margin: 10px;
}

#score {
    color: white;
    padding: 20px;
}

/* Correct/incorrect answer button styling */

.correct {
    color: white;
    background-color: green;
}

/* End game page to display finish message and total score */
#end-game-page {
    display: block;
    background-color: #eeba30;
    color: purple;
    width: 80%;
    margin: auto;
    padding: 40px;
    height: 500px;
    border-radius: 25px;

}